* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Tmain{
    display: flex;
    justify-content: center;

}
.secondmain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;

}
h1{
    color: rgb(38, 0, 255);
    font-size: 80px;

}
.clockD{
    color: white;
}
.mainT{
  font-size: 30px;
  color: rgb(38, 0, 255);
  font-weight: bold;
}

.calendar_container{

    background-color: hsla(197, 71%, 73%, 0.199);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
    transform: perspective(400px) rotateX(0deg); /* 회전 효과 */
    
  }

  .dvlist {
    width: 100%;
    height: 300px;
    background-color: hsla(197, 71%, 73%, 0.705);
    margin-top: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
  }
.dschedule{
  overflow: scroll;
  overflow-y: scroll;
  max-height: 250px;
}
.dDate{
    color: black;
    text-align: center;
    font-size: 15px;

}
.react-calendar{

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  
}
.react-calendar__navigation button{
    background-color: rgb(0, 3, 0) !important;
    color: #d2caf5;
    min-width: 44px;
    font-size: 16px;
    margin-top: 8px;
}
.dbtitle{
    background-color: rgba(190, 202, 28, 0.603);
    color: black;
}
.dbcontent{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    margin: 0;
}

/* .Bt{
    width: 50px;
    height: 30px;
    background-color: transparent;
} */


.area{
    width: 200px;
}
.enrolllist{
    width: 100%;
    display: flex;  
    justify-content: left;
    align-items: left;
    background-color: hsla(197, 71%, 73%, 0.705);
}

.logintotal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.enrolltodo{
  width: 100%;
}
.textarea{
    width: 80%;
    height: 100px;
}
/* .loginArea{
    width: 80%;
    display: flex;
    justify-content: center;
  
} */
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.loginleft{
  width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.loginright{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.logindis{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.loginp{
  width: 180px;
  margin-bottom: 0px;
  color: black;
}
.forgot{
  margin-top: 30px;
  color: white;
  margin-bottom: 0px;
}

.inputbox{
  width: 150px;
  margin-right: 10px;

}

.clockLogout{
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;
  align-items: center;
}
.findloginMain{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: skyblue;
  height: 1000px;
  
}
.findloginT{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 100px;
}
.emailp{
  margin-top: 100px;
}
.InfoForm{
  margin-bottom: 30px;
}
.imagespot img {
  width: 300px;
  height: auto;
}


.loginBt3d{
    margin-left: 22px;
    margin-top: 30px;
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 5px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    color: white;
}

.loginBt3d span {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgb(131, 2, 251) 100%);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.loginBt3d span:nth-child(1) {
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.loginBt3d span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.loginBt3d:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.loginBt3d:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);

}
.logoutBt3d{
  margin-left: 22px;
  margin-top: 30px;
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 5px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  color: white;
  align-items: right;
}


.logoutBt3d span {

  background: linear-gradient(0deg, rgb(2, 161, 253) 0%, rgb(3, 118, 250) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.logoutBt3d span:nth-child(1) {
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.logoutBt3d span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.logoutBt3d:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.logoutBt3d:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);

}

.btGroup{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 50px;
  
}

.Bt {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }

.Bt {
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Bt:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.Bt:focus {
  outline: none;
}

.dapage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.getdataBt{
  width: 150px;
  height: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px rgb(0,0,0);
}
.startBt:hover{
    background-color: black;
    color: white;
    transition: 0.7s;
}
.daDisplay{
  background-color: skyblue;
  width: 800px;
  height: 800px;


}
.datextArea{
  justify-content: left;
  align-items: left;
}
.todoChart{
  
}
.canvas{
  background-color: white;
  width: 800px;
  height: 100%;
}
#cv{
  border: 1px solid black;
  width: 90%;
}
#analP{
  font-weight: bold;
  font-size: 23px;
  margin-left: 10px;
}










/* 배경화면 */
#early2021 {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1200px
  }
  
  #early2021 .inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
  }
  
  #early2021 .top {
    position: relative;
    width: 100%;
    background: url('http://img247.etoos.com/web/w247/images/cnt/recruit/early2021/main_bg.jpg') 50% 0 #e0dee27e;
  }
  
  #early2021 .top .inner {
    height: 962px;
  }
  
  #early2021 .top .main_img {
    position: absolute;
    z-index: 5;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  #early2021 .top .pacles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  #early2021 .top .c1_s img {
    position: absolute;
    animation: star 20s linear infinite;
    margin-left: 0;
    margin-top: 0;
    opacity: 0;
  }
  
  #early2021 .top .c1_s img:nth-child(1) {
    animation-delay: 0;
    animation-duration: 1.6s
  }
  
  #early2021 .top .c1_s img:nth-child(2) {
    animation-delay: -1.5s;
    animation-duration: 1.4s
  }
  
  #early2021 .top .c1_s img:nth-child(3) {
    animation-delay: -0.7s;
    animation-duration: 1.2s
  }
  
  #early2021 .top .c1_s img:nth-child(4) {
    animation-delay: -1s;
    animation-duration: 1s
  }
  
  #early2021 .top .c1_s img:nth-child(5) {
    animation-delay: 0.2s;
    animation-duration: 2s
  }
  
  #early2021 .top .c1_s img:nth-child(6) {
    animation-delay: -2s;
    animation-duration: 1.8s
  }
  
  #early2021 .top .c1_s img:nth-child(7) {
    animation-delay: -0.5s;
    animation-duration: 1.2s
  }
  
  #early2021 .top .c1_s img:nth-child(8) {
    animation-delay: -1.2s;
    animation-duration: 2s
  }
  #early2021 .top .c1_s img:nth-child(9) {
    animation-delay: 2s;
    animation-duration: 1.6s
  }
  
  #early2021 .top .c1_s img:nth-child(10) {
    animation-delay: 1.5s;
    animation-duration: 1.4s
  }
  
  #early2021 .top .c1_s img:nth-child(11) {
    animation-delay: -0.6s;
    animation-duration: 1.2s
  }
  
  #early2021 .top .c1_s img:nth-child(12) {
    animation-delay: -0.5s;
    animation-duration: 1s
  }  

  @keyframes star {
    from {
      opacity: 0;
      margin-left: 0;
      margin-top: 0
    }
  
    35% {
      opacity: 1;
      margin-left: -5%;
      margin-top: 5%
    }
  
    70% {
      opacity: 0;
      margin-left: -10%;
      margin-top: 10%
    }
  
    to {
      opacity: 0;
      margin-left: -10%;
      margin-top: 10%
    }
  }
  