.Tmain{
    display: flex;
    justify-content: center;


}
.ifif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: blue;
}
.calendar_container{
    background-color: skyblue;
    width: 80%;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
  }

.dvlist{
    width: 80%;
    height: 300px;
    background-color: #d5e6a896;
    margin-top: 10px;
    border: 1px solid black;
}
.dschedule{
    height: 80%;
}
.dDate{
    color: black;
}
.react-calendar{

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
.react-calendar__navigation button{
    background-color: orange;
    color: #6f48eb;
    min-width: 44px;
    font-size: 16px;
    margin-top: 8px;
}
.dbtitle{
    background-color: rgba(0, 128, 0, 0.658);
}
.dbcontent{
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    margin: 0;
}

.btGroup{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 30px;
}
.Bt{
    width: 50px;
    height: 30px;
    background-color: transparent;
}
.Bt:hover{
    background-color: purple;

}
.area{
    width: 200px;
}
.new_list{
    width: 80%;
    display: flex;  
    justify-content: left;
    align-items: left;  
}
.enrolllist{
    display: flex;
    justify-content: left;
    align-items: left;
}

.textarea{
    width: 80%;
    height: 100px;
}
.loginpage{
    width: 80%;
    display: flex;
    flex-direction: column;

}
/* .logindis{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: left;
}

.inputarea{
    height: 20px;
}*/

.loginArea{
    width: 80%;
    display: flex;
    justify-content: right;
    height: 400px;
}
/*
.loginBt{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: left;
}  */